<table border="3">
    <tr>
        <td>id</td>
        <td>title</td>
        <td>publication date </td>
        <td>published</td>
        <td>category </td>
        <td>Author</td>
        <td>delete</td>
        <td>edit</td>

    </tr>
    {% for i in listbook %}
    <tr>
<td>{{i.id}}</td>
<td>{{i.title}}</td>
<td>{{i.publicationDate ? i.publicationDate|date('Y-m-d') : ''}}</td>
<td>{{i.published ? 'Yes' : 'No'}}</td>
<td>{{i.category ? i.category.name : ''}}</td>
<td>{{i.author ? i.author.username : ''}}</td>
<td><a href="{{path('app_deletebook',{'id':i.id})}}">delete</a></td>
<td><a href="{{path('app_editbook',{'id':i.id})}}">edit</a></td>
    </tr>
    {% endfor %}
</table>        